* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80vw;
    max-height: 50vh;
    width: calc((800px - 4rem) * 2);
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: "Roboto Slab", serif;
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

#quote {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    cursor: pointer;
}

#author {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-style: solid;
}

#copyright {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    cursor: pointer;
}

#button-container {
    display: flex;
    margin: 1.25rem;
}

#button-container button {
    margin: 0.5rem 1rem;
}

.button {
    display: inline-block;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5em 1.5em;
    min-width: 11rem;
    background-color: transparent;
    transition: all 0.3s ease;
    overflow: hidden;
    border: 1px black solid;
}

.button:active {
    transform: scale(1.2);
}

/* Stops hover from sticking on mobile */
@media (hover: hover) {
    .button:hover {
        background: #000;
        color: #fff;
    }
}
/* TODO: this looks terrible on landscape */
@media screen and (max-width: 600px) and (orientation: portrait) {
    .container {
        max-width: 90vw;
        width: calc((600px - 1rem) * 2);
        margin-top: 40px;
    }
    #button-container {
        display: flex;
        flex-direction: column;
        margin: 1.25rem;
    }
    #button-container button {
        margin: 0.25rem 0.5rem;
        -webkit-appearance: none;
    }
    .button {
        color: black;
        font-size: 1.2rem;
    }
    .button:active {
        background: #000;
        color: #fff;
    }
}

/* Dark Theme */
body.dark {
    color: white;
    background-color: #36454f;
}

body.dark button {
    color: white;
    border: 1px solid white;
}

body.dark button:hover {
    background: white;
    color: black;
}
